Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

chore(release): 1.3.22
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.22
  build/bundle.aa7b0237.js
  build/bundle.adf4c781.js
  build/bundle.adf4c781.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Popover): fix safari flash when height change
  src/components/Popover/Popover.jsx
  src/utils/isSafari.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.23
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.23
  build/bundle.4a0089d2.js
  build/bundle.4a0089d2.js.LICENSE.txt
  build/bundle.adf4c781.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix table resizableTH min-max default
  src/components/Table/ResizableTH.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.24
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.24
  build/bundle.09af5e70.js
  build/bundle.09af5e70.js.LICENSE.txt
  build/bundle.4a0089d2.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(All): fix react-resizable dep
  package.json
Due: prettier --write

chore(release): 1.3.25
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.25
  build/bundle.09af5e70.js
  build/bundle.3cc1c61d.js
  build/bundle.3cc1c61d.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(All): fix isSafari in chrome
  src/utils/isSafari.ts
Due: none

chore(release): 1.3.26
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.26
  build/bundle.3cc1c61d.js
  build/bundle.5e70097d.js
  build/bundle.5e70097d.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Popover): use transform to fix safari flash bug
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/Popover.jsx
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/libs/dom-align/LICENSE
  src/libs/dom-align/adjustForViewport.js
  src/libs/dom-align/align/align.js
  src/libs/dom-align/align/alignElement.js
  src/libs/dom-align/align/alignPoint.js
  src/libs/dom-align/getAlignOffset.js
  src/libs/dom-align/getElFuturePos.js
  src/libs/dom-align/getOffsetParent.js
  src/libs/dom-align/getRegion.js
  src/libs/dom-align/getVisibleRectForElement.js
  src/libs/dom-align/index.js
  src/libs/dom-align/isAncestorFixed.js
  src/libs/dom-align/propertyUtils.js
  src/libs/dom-align/utils.js
  src/libs/rc-align/LICENSE
  src/libs/rc-align/index.jsx
  src/libs/rc-drawer/LICENSE.md
  src/libs/rc-table/LICENSE.md
  src/libs/rc-trigger/LICENSE
  src/libs/rc-trigger/index.js
  src/libs/rc-trigger/src/LazyRenderBox.js
  src/libs/rc-trigger/src/Popup.js
  src/libs/rc-trigger/src/PopupInner.js
  src/libs/rc-trigger/src/index.js
  src/libs/rc-trigger/src/mock.js
  src/libs/rc-trigger/src/utils.js
  webpack.config.js
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.27
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.27
  build/bundle.5e70097d.js
  build/bundle.e0f47d97.js
  build/bundle.e0f47d97.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): remove confirm button
  .lintstagedrc
  .styleguide/components.js
  src/components/DatePicker/Footer.tsx
  src/components/DatePicker/usePicker.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): add style of range
  package.json
  src/components/Calendar/Calendar.md
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/Cell.tsx
  src/components/Calendar/HeaderSwitcher.tsx
  src/components/Calendar/Month.tsx
  src/components/Calendar/__demo__/range.jsx
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.ts
  src/components/Calendar/utils.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/style/index.ts
  src/components/DatePicker/utils.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/TimePicker/TimePicker.tsx
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Type): fix error type
  src/components/Cascader/Items.tsx
  src/hooks/useSearch.tsx
Due: none

feat(DatePicker): refactor style & interaction
  src/components/AutoComplete/AutoComplete.tsx
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/Cell.tsx
  src/components/Calendar/Month.tsx
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/__tests__/index.test.js
  src/components/Calendar/locale/zh_CN.js
  src/components/Calendar/style/index.ts
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/Footer.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/style/index.ts
  src/components/DatePicker/usePicker.tsx
  src/components/Input/Search.tsx
  src/components/Input/__tests__/index.test.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/NumberInput.jsx
  src/components/NumberInput/__tests__/index.test.js
  src/components/Pagination/Options.jsx
  src/components/Slider/__tests__/index.test.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/Tabs.tsx
  src/components/TimePicker/style/index.ts
  src/utils/KeyCode.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): add combine panel for date picker
  package.json
  src/components/Calendar/Calendar.md
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/Cell.tsx
  src/components/Calendar/HeaderButton.tsx
  src/components/Calendar/Month.tsx
  src/components/Calendar/TwoSide.tsx
  src/components/Calendar/__demo__/twoside.jsx
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/index.tsx
  src/components/Calendar/style/index.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/style/index.ts
  src/components/DatePicker/usePicker.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/DoubleArrowLeft.jsx
  src/components/SvgIcon/icons/DoubleArrowRight.jsx
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Calendar): fix style
  src/components/Calendar/style/index.ts
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
Due: none

feat(DatePicker): change rangePicker to useRangePicker
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/usePicker.tsx
Due: none

chore(All): update snapshots
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(all): remove color
  src/style/color.js
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): update
  src/components/DatePicker/style/index.ts
Due: none

feat(DatePicker): update
  src/components/Calendar/HeaderButton.tsx
  src/components/Calendar/TwoSide.tsx
  src/components/Calendar/__demo__/range.jsx
  src/components/Calendar/__demo__/twoside.jsx
  src/components/Calendar/index.tsx
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Footer.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/style/index.ts
  src/components/TimePicker/Time.tsx
  src/components/TimePicker/TimePicker.tsx
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.4.0
  build/bundle.07967a0e.js
  build/bundle.07967a0e.js.LICENSE.txt
  build/bundle.e0f47d97.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix footer button disabled
  src/components/DatePicker/Footer.tsx
Due: none

chore(release): 1.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.4.1
  build/bundle.07967a0e.js
  build/bundle.72db2bd4.js
  build/bundle.72db2bd4.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Calendar): fix range display
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: none

chore(release): 1.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.4.2
  build/bundle.2d22e40e.js
  build/bundle.2d22e40e.js.LICENSE.txt
  build/bundle.72db2bd4.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage
