Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

docs: Circle CI auto update docs, v1.3.3
  build/bundle.05ad9da8.js
  build/bundle.2d8956e9.js
  build/bundle.2d8956e9.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tag): fix tag icon align center
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.4
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.4
  build/bundle.1c06d1af.js
  build/bundle.1c06d1af.js.LICENSE.txt
  build/bundle.2d8956e9.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Modal): fix modal buttonProps
  src/components/Modal/Modal.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.5
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.5
  build/bundle.1c06d1af.js
  build/bundle.9ab21141.js
  build/bundle.9ab21141.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

update recodo docs
  recodo/data/docs.json
  recodo/data/examples.json
  recodo/dist/index.html
  recodo/dist/main.min.js
  recodo/index.html
  recodo/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update recodo docs
  .recodo/data/docs.json
  .recodo/data/examples.json
  .recodo/index.html
  .recodo/index.tsx
  README.md
Due: prettier --write

update recodo docs
  recodo/dist/index.html
  recodo/dist/main.min.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update editor version
  .recodo/index.tsx
Due: none

fix(NumberInput): fix input color
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.6
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.6
  build/bundle.605dc6cc.js
  build/bundle.605dc6cc.js.LICENSE.txt
  build/bundle.9ab21141.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(all): update a lot of ts interface define
  index.d.ts
  package.json
  src/components/ActionList/ActionList.tsx
  src/components/ActionList/index.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/index.tsx
  src/components/Breadcrumb/Item.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/index.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/index.tsx
  src/components/Table/__demo__/resizableTH.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/Pane.tsx
  src/components/Tabs/index.tsx
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): add demos in design-token-editor
  .recodo/.gitignore
  .recodo/@types/index.d.ts
  .recodo/InteractionDemo.tsx
  .recodo/componentDemos/Badge.tsx
  .recodo/componentDemos/Breadcrumb.tsx
  .recodo/componentDemos/Button.tsx
  .recodo/componentDemos/Calendar.tsx
  .recodo/componentDemos/Checkbox.tsx
  .recodo/componentDemos/DatePicker.tsx
  .recodo/componentDemos/EditableTable.tsx
  .recodo/componentDemos/Input.tsx
  .recodo/componentDemos/Message.tsx
  .recodo/componentDemos/Modal.tsx
  .recodo/componentDemos/Notice.tsx
  .recodo/componentDemos/NumberInput.tsx
  .recodo/componentDemos/Pagination.tsx
  .recodo/componentDemos/PopConfirm.tsx
  .recodo/componentDemos/Progress.tsx
  .recodo/componentDemos/Radio.tsx
  .recodo/componentDemos/Select.tsx
  .recodo/componentDemos/Slider.tsx
  .recodo/componentDemos/Steps.tsx
  .recodo/componentDemos/Switch.tsx
  .recodo/componentDemos/Table.tsx
  .recodo/componentDemos/Tabs.tsx
  .recodo/componentDemos/Tag.tsx
  .recodo/componentDemos/Textarea.tsx
  .recodo/componentDemos/Tooltip.tsx
  .recodo/componentDemos/Transfer.tsx
  .recodo/componentDemos/Upload.tsx
  .recodo/editorComponentDemos.tsx
  .recodo/index.tsx
  .recodo/package.json
  .recodo/tsconfig.json
  .recodo/yarn.lock
Due: prettier --write

feat(Notice): refactor code & use flex for align
  index.d.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Notice/Notice.jsx
  src/components/Notice/Notice.tsx
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/index.jsx
  src/components/Notice/index.tsx
  src/components/Notice/style/index.js
  src/components/Notice/style/index.ts
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.7
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.7
  build/bundle.605dc6cc.js
  build/bundle.f03c1f59.js
  build/bundle.f03c1f59.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Modal): add return count for modal destroyAll
  src/components/Modal/method.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

update recodo docs
  recodo/.gitignore
  recodo/@types/index.d.ts
  recodo/InteractionDemo.tsx
  recodo/componentDemos/Badge.tsx
  recodo/componentDemos/Breadcrumb.tsx
  recodo/componentDemos/Button.tsx
  recodo/componentDemos/Calendar.tsx
  recodo/componentDemos/Checkbox.tsx
  recodo/componentDemos/DatePicker.tsx
  recodo/componentDemos/EditableTable.tsx
  recodo/componentDemos/Input.tsx
  recodo/componentDemos/Message.tsx
  recodo/componentDemos/Modal.tsx
  recodo/componentDemos/Notice.tsx
  recodo/componentDemos/NumberInput.tsx
  recodo/componentDemos/Pagination.tsx
  recodo/componentDemos/PopConfirm.tsx
  recodo/componentDemos/Progress.tsx
  recodo/componentDemos/Radio.tsx
  recodo/componentDemos/Select.tsx
  recodo/componentDemos/Slider.tsx
  recodo/componentDemos/Steps.tsx
  recodo/componentDemos/Switch.tsx
  recodo/componentDemos/Table.tsx
  recodo/componentDemos/Tabs.tsx
  recodo/componentDemos/Tag.tsx
  recodo/componentDemos/Textarea.tsx
  recodo/componentDemos/Tooltip.tsx
  recodo/componentDemos/Transfer.tsx
  recodo/componentDemos/Upload.tsx
  recodo/data/examples.json
  recodo/dist/main.min.js
  recodo/editorComponentDemos.tsx
  recodo/index.tsx
  recodo/package.json
  recodo/tsconfig.json
  recodo/yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

update recodo docs
  recodo/dist/main.min.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update docs
  .recodo/componentDemos/Badge.tsx
  .recodo/data/examples.json
  .recodo/index.html
  .recodo/index.tsx
Due: prettier --write

docs(recodo): update doc version
  .recodo/index.tsx
Due: none

fix(DatePicker): fix initial display with defaultOption
  src/hooks/useUncontrolled.tsx
Due: none

chore(release): 1.3.8
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.8
  build/bundle.2c34f4ee.js
  build/bundle.2c34f4ee.js.LICENSE.txt
  build/bundle.f03c1f59.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): change resizable style
  .recodo/package.json
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ResizableTH.jsx
  src/components/Table/__demo__/resizableTH.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): update resizableTh style
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ResizableTH.jsx
  src/components/Table/__demo__/resizableTH.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.9
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.9
  build/bundle.2c34f4ee.js
  build/bundle.a6219500.js
  build/bundle.a6219500.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add dragSorting
  package.json
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/Dragger.jsx
  src/components/Table/DragWrap.tsx
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/TableRow.jsx
  src/components/Table/TableRow.tsx
  src/components/Table/__demo__/dragSorting.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
  src/components/Table/style/index.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/libs/rc-table/TableRow.js
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): change table dragSorting style
  package.json
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/DragWrap.tsx
  src/components/Table/Table.jsx
  src/components/Table/__demo__/dragSorting.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/libs/rc-table/TableRow.js
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix table config button align
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(TransferMenu): add disabled support
  src/components/TransferMenu/TransferMenu.jsx
  src/components/TransferMenu/__demo__/transferMenu.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.10
  CHANGELOG.md
  package.json
Due: prettier --write
