Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

docs: Circle CI auto update docs, v1.3.10
  build/bundle.a6219500.js
  build/bundle.ee638b4e.js
  build/bundle.ee638b4e.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix warning crash
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.11
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.11
  build/bundle.be29c48d.js
  build/bundle.be29c48d.js.LICENSE.txt
  build/bundle.ee638b4e.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): change DragWrap to memo
  src/components/Table/DragWrap.tsx
Due: none

chore(release): 1.3.12
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.12
  build/bundle.be29c48d.js
  build/bundle.ce74595c.js
  build/bundle.ce74595c.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix table row re instance bug
  src/components/Table/TableRow.tsx
  src/components/Table/__demo__/title.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/libs/rc-table/ExpandableTable.js
  src/libs/rc-table/Table.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.13
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.13
  build/bundle.36063129.js
  build/bundle.36063129.js.LICENSE.txt
  build/bundle.ce74595c.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tabs): fix render unused html attr
  src/components/Tabs/Pane.tsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(gitalk): remove gitalk
  .styleguide/components/StyleGuideRenderer.tsx
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore(release): 1.3.14
  CHANGELOG.md
  package.json
Due: prettier --write

fix(yarn): add lock file back for fix ci build
  yarn.lock
Due: none

chore(release): 1.3.15
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.15
  build/bundle.17595902.js
  build/bundle.17595902.js.LICENSE.txt
  build/bundle.36063129.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Input): fix input suffix & prefix shrinks
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__demo__/manual-test.jsx
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Button): change button to inline-flex
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(release): 1.3.16
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.16
  build/bundle.17595902.js
  build/bundle.afe4d4dd.js
  build/bundle.afe4d4dd.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Button): fix button square align
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(release): 1.3.17
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.17
  build/bundle.afe4d4dd.js
  build/bundle.f130ba62.js
  build/bundle.f130ba62.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(Tag): optimize Tag export interface
  src/components/Tag/index.jsx
  src/components/Tag/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Button): fix button usage in select
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.tsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(release): 1.3.18
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.18
  build/bundle.13c1c00f.js
  build/bundle.13c1c00f.js.LICENSE.txt
  build/bundle.f130ba62.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(Tree): rename some vars
  src/components/Tree/Tree.tsx
Due: none

feat(Input): split input wrap
  src/components/Input/Input.tsx
  src/components/Input/Search.tsx
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.ts
  src/sharedComponents/InputWrap.tsx
Due: none

fix(Modal): fix modal mask mouse leave close
  package.json
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  yarn.lock
Due: prettier --write

chore(release): 1.3.19
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.19
  build/bundle.067594bf.js
  build/bundle.067594bf.js.LICENSE.txt
  build/bundle.13c1c00f.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add columnResizable & remove ResizableTH
  src/components/Table/ResizableTH.jsx
  src/components/Table/ResizableTH.md
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__demo__/resizable.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/libs/rc-table/TableHeaderRow.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.20
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.20
  build/bundle.067594bf.js
  build/bundle.aa7b0237.js
  build/bundle.aa7b0237.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Modal): downgrade version for fix illegal invocation
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.3.21
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Modal): fix modal snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: none
