Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Calendar): change a style to avoid override
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.js
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.31
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): fix unselect all only unselect current page bug
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(decorators): rewrite all decorators
  package.json
  src/components/Calendar/Calendar.jsx
  src/components/Calendar/Month.jsx
  src/components/Calendar/__tests__/index.test.js
  src/components/DatePicker/Range.jsx
  src/components/LocaleProvider/LocaleContext.tsx
  src/components/LocaleProvider/LocaleProvider.jsx
  src/components/LocaleProvider/LocaleProvider.tsx
  src/components/LocaleProvider/locale/runtime.ts
  src/components/LocaleProvider/localeConsumerDecorator.jsx
  src/components/LocaleProvider/localeConsumerDecorator.tsx
  src/components/Menu/Menu.jsx
  src/components/Tree/Tree.md
  src/components/Tree/Tree.tsx
  src/components/Tree/__demo__/controlled.jsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/decorators/__tests__/index.test.js
  src/decorators/uncontrolled.jsx
  src/decorators/uncontrolled.tsx
  src/hooks/useStateFromProps.tsx
  src/utils/hoistStatics.js
  src/utils/withProps.jsx
  tsconfig.json
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix table demo combine usage
  src/components/Table/__demo__/base.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.32
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.32
  build/bundle.9f3ac97f.js
  build/bundle.9f3ac97f.js.LICENSE.txt
  build/bundle.ce450c03.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Box): rewrite some box to combine
  src/components/Box/__demo__/card.jsx
  src/components/Box/__demo__/float.jsx
  src/components/Box/__demo__/usage.jsx
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tree): optim disabled item select logic
  src/components/Tree/Item.tsx
  src/components/Tree/Items.tsx
  src/components/Tree/Tree.md
  src/components/Tree/Tree.tsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/interface.ts
  src/components/Tree/style/index.ts
  src/components/Tree/util.ts
Due: prettier --write

feat(Tree): change value to key, rename collapse
  src/components/Tree/Item.tsx
  src/components/Tree/Items.tsx
  src/components/Tree/Tree.md
  src/components/Tree/Tree.tsx
  src/components/Tree/__demo__/base.jsx
  src/components/Tree/__demo__/bigData.jsx
  src/components/Tree/__demo__/controlled.jsx
  src/components/Tree/__demo__/method.jsx
  src/components/Tree/__demo__/search.jsx
  src/components/Tree/__demo__/tree.jsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/interface.ts
  src/components/Tree/util.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Menu): rename collapse to collapseProps
  src/components/ConfigProvider/__demo__/theme.jsx
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/Menu/Menu.jsx
  src/components/Menu/__demo__/menu-collapse.jsx
  src/components/ThemeProvider/__demo__/themeprovider.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.33
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.33
  build/bundle.9f3ac97f.js
  build/bundle.b9cf13c1.js
  build/bundle.b9cf13c1.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Interface): fix children component type error in index.d.ts
  index.d.ts
Due: none

feat(Tree): add support of loadData
  src/components/Tree/Item.tsx
  src/components/Tree/Items.tsx
  src/components/Tree/Tree.md
  src/components/Tree/Tree.tsx
  src/components/Tree/__demo__/base.jsx
  src/components/Tree/__demo__/bigData.jsx
  src/components/Tree/__demo__/loadData.jsx
  src/components/Tree/__demo__/method.jsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/interface.ts
  src/components/Tree/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(type): update interface output
  index.d.ts
  src/components/Button/Button.tsx
  src/components/Tree/Tree.tsx
  src/components/Tree/index.tsx
  src/decorators/uncontrolled.tsx
Due: none

docs(Tree): fix tree demos bug
  src/components/Tree/Item.tsx
  src/components/Tree/Tree.md
  src/components/Tree/__demo__/base.jsx
  src/components/Tree/__demo__/bigData.jsx
  src/components/Tree/__demo__/controlled.jsx
  src/components/Tree/__demo__/method.jsx
  src/components/Tree/__demo__/search.jsx
  src/components/Tree/__demo__/tree.jsx
  src/components/Tree/interface.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.34
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.34
  build/bundle.a07e6ead.js
  build/bundle.a07e6ead.js.LICENSE.txt
  build/bundle.b9cf13c1.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tree): fix react warn of forwardRef
  src/components/Tree/Tree.tsx
Due: none

fix(Menu): fix scroll bar in firefox cause overflow
  src/components/Menu/style/index.js
  src/utils/isFirefox.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(AutoComplete): add AutoComplete
  .styleguide/components.js
  src/components/AutoComplete/AutoComplete.md
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/Popup.tsx
  src/components/AutoComplete/__demo__/autoComplete.jsx
  src/components/AutoComplete/__demo__/controlled.jsx
  src/components/AutoComplete/__demo__/disabled.jsx
  src/components/AutoComplete/__demo__/handleSearch.jsx
  src/components/AutoComplete/__demo__/loading.jsx
  src/components/AutoComplete/__demo__/options.jsx
  src/components/AutoComplete/__demo__/popupContainer.jsx
  src/components/AutoComplete/__demo__/suggest.jsx
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/AutoComplete/__tests__/demo.test.js
  src/components/AutoComplete/index.tsx
  src/components/AutoComplete/style/index.ts
  src/components/Input/Search.jsx
  src/components/Menu/Menu.jsx
  src/components/Menu/index.jsx
  src/components/Menu/style/index.js
  src/components/NumberInput/NumberInput.jsx
  src/components/Tree/__demo__/controlled.jsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/Upload.jsx
  src/hooks/useUncontrolled.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Combine): filter null,undefined,false children
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/Combine.md
  src/components/Combine/Combine.tsx
  src/components/Combine/__demo__/null.jsx
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(AutoComplete): remove displayOptionsWhenEmpty & rename loading
  src/components/AutoComplete/AutoComplete.md
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/__demo__/autoComplete.jsx
  src/components/AutoComplete/__demo__/hideOptionsWhenEmpty.jsx
  src/components/AutoComplete/__demo__/loading.jsx
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(AutoComplete): fix wrong options cause crash
  index.d.ts
  src/components/AutoComplete/AutoComplete.md
  src/components/AutoComplete/Popup.tsx
  src/components/AutoComplete/__demo__/boundary.jsx
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/useUncontrolled.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.35
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.35
  build/bundle.6193a8ce.js
  build/bundle.6193a8ce.js.LICENSE.txt
  build/bundle.a07e6ead.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(AutoComplete): add onFocus & onBlur
  src/components/AutoComplete/AutoComplete.tsx
Due: none

feat(Tag): add support of customStyle
  src/components/Tag/Icon.jsx
  src/components/Tag/Icon.md
  src/components/Tag/Tag.jsx
  src/components/Tag/Tag.md
  src/components/Tag/__demo__/icon-customStyle.jsx
  src/components/Tag/__demo__/tag-customStyle.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.36
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.36
  build/bundle.6193a8ce.js
  build/bundle.b5a1e23b.js
  build/bundle.b5a1e23b.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): update
  package.json
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.ts
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/style/index.js
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/locale/en_US.js
  src/components/DatePicker/locale/zh_CN.js
  src/components/DatePicker/style/index.ts
  src/components/DatePicker/usePicker.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
  src/components/TimePicker/style/index.ts
  src/style/utils.ts
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): fix locale
  src/components/DatePicker/locale/en_US.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/components/**/*.(js|ts|jsx|tsx)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
