Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

fix(Select): fix search for options label
  src/components/Select/Select.tsx
Due: none

chore(release): 1.2.7
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.7
  build/bundle.38e69b8f.js
  build/bundle.ef56485e.js
  build/bundle.ef56485e.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix custom search item's children when use options
  src/components/Select/Select.tsx
  src/components/Select/__demo__/boundary.jsx
  src/components/Select/__demo__/search.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Popover): fix popover demo bug
  src/components/Popover/__demo__/animation.jsx
  src/components/Popover/__demo__/base.jsx
  src/components/Popover/__demo__/placement.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.8
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.8
  build/bundle.dff19f39.js
  build/bundle.dff19f39.js.LICENSE.txt
  build/bundle.ef56485e.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Input): fix status usage under context
  src/components/AutoComplete/AutoComplete.tsx
  src/components/Input/Input.tsx
  src/components/Input/index.tsx
  src/components/Select/Select.tsx
  src/components/Table/SearchInput.jsx
  src/components/Transfer/Transfer.jsx
  src/components/Tree/Tree.tsx
  src/sharedComponents/Search/Search.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.9
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.9
  build/bundle.07201cad.js
  build/bundle.07201cad.js.LICENSE.txt
  build/bundle.dff19f39.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(EditableTable): change some style
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Drawer): support custom node closeHandle
  src/components/Drawer/Drawer.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.10
  CHANGELOG.md
  package.json
Due: prettier --write

fix(ZForm): upgrade rc-form to fix function comp bug
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.2.11
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.10
  build/bundle.07201cad.js
  build/bundle.b2e8d655.js
  build/bundle.b2e8d655.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs: Circle CI auto update docs, v1.2.11
  build/bundle.3d344886.js
  build/bundle.3d344886.js.LICENSE.txt
  build/bundle.b2e8d655.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix uncontrolled change logic
  src/components/Table/Table.jsx
  src/components/Table/__demo__/filter.jsx
  src/hooks/useUncontrolled.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.12
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.12
  build/bundle.1b4c9a4f.js
  build/bundle.1b4c9a4f.js.LICENSE.txt
  build/bundle.3d344886.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Card): add SubArea
  src/components/Card/Card.md
  src/components/Card/Content.jsx
  src/components/Card/Footer.jsx
  src/components/Card/SubArea.jsx
  src/components/Card/__demo__/card.jsx
  src/components/Card/__demo__/list.jsx
  src/components/Card/__demo__/single.jsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/index.jsx
  src/components/Card/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.13
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.13
  build/bundle.1b4c9a4f.js
  build/bundle.a82992ea.js
  build/bundle.a82992ea.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

add design-token-editor
  recodo/data/docs.json
  recodo/data/examples.json
  recodo/dist/index.html
  recodo/dist/main.min.js
  recodo/index.html
  recodo/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Recodo): update recodo
  .recodo/data/docs.json
  .recodo/data/examples.json
  .recodo/index.html
  .recodo/index.tsx
Due: prettier --write

fix(Form): fix portrait form comment font-weight
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/style/index.tsx
Due: none

refactor(Link): update Link export code
  src/components/Link/index.tsx
Due: none

chore(release): 1.2.14
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.14
  build/bundle.a82992ea.js
  build/bundle.f75e4d36.js
  build/bundle.f75e4d36.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Calendar): fix calendar switch month bug
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.2.15
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.15
  build/bundle.a7418f31.js
  build/bundle.a7418f31.js.LICENSE.txt
  build/bundle.f75e4d36.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): change form subarea padding
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/style/index.tsx
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

fix(Tabs): add resize observer for inkbar
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/Tabs.md
  src/components/Tabs/__demo__/tabs-boundary.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/demo.test.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(LocaleProvider): add useLocale for use i18n plan
  src/components/LocaleProvider/LocaleProvider.md
  src/components/LocaleProvider/__demo__/useLocale.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/index.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.16
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.16
  build/bundle.a7418f31.js
  build/bundle.cab7af8b.js
  build/bundle.cab7af8b.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(EditableTable): add addition.hidden to hide additionbar
  src/components/EditableTable/EditableTable.jsx
  src/components/EditableTable/__demo__/addition.jsx
  src/components/EditableTable/__demo__/editableTable.jsx
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ThemeProvider): add useDesignTokens
  src/components/ThemeProvider/ThemeProvider.jsx
  src/components/ThemeProvider/ThemeProvider.md
  src/components/ThemeProvider/__demo__/useDesignTokens.jsx
  src/components/ThemeProvider/index.jsx
  src/components/ThemeProvider/useDesignTokens.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage
