Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ConfigProvider): add getPopupContainer support
  src/components/ActionList/ActionList.jsx
  src/components/AutoComplete/AutoComplete.tsx
  src/components/ConfigProvider/ConfigContext.jsx
  src/components/ConfigProvider/ConfigContext.tsx
  src/components/ConfigProvider/ConfigProvider.jsx
  src/components/ConfigProvider/ConfigProvider.tsx
  src/components/ConfigProvider/__demo__/demo.jsx
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.jsx
  src/hooks/usePopoverContainer.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.24
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.24
  build/bundle.d3813972.js
  build/bundle.f6b832d9.js
  build/bundle.f6b832d9.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(ActionList): refactor to ts
  src/components/ActionList/ActionList.jsx
  src/components/ActionList/ActionList.md
  src/components/ActionList/ActionList.tsx
  src/components/ActionList/__demo__/actionList.jsx
  src/components/ActionList/index.jsx
  src/components/ActionList/index.tsx
  src/components/ActionList/style/index.ts
  src/components/Combine/Combine.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/usePicker.tsx
  src/hooks/usePopoverContainer.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Menu): fix all selected status when disabled
  index.d.ts
  src/hooks/group.tsx
Due: none

fix(Tree): fix collapse warn & selected status unupdate bug
  src/components/Tree/Item.tsx
  src/components/Tree/Tree.tsx
Due: none

chore(release): 1.1.25
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.25
  build/bundle.781d4827.js
  build/bundle.781d4827.js.LICENSE.txt
  build/bundle.f6b832d9.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(PopConfirm): refactor to ts
  src/components/Card/__demo__/popupContainer.jsx
  src/components/PopConfirm/PopConfirm.jsx
  src/components/PopConfirm/PopConfirm.tsx
  src/components/PopConfirm/index.tsx
  src/components/PopConfirm/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(Tooltip): refactor to ts
  src/components/Tooltip/Tooltip.jsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__demo__/tooltip.jsx
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/index.tsx
  src/components/Tooltip/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ConfigProvider): add popover to control all popover items
  README.md
  index.d.ts
  src/components/ActionList/ActionList.tsx
  src/components/AutoComplete/AutoComplete.tsx
  src/components/ConfigProvider/ConfigContext.tsx
  src/components/ConfigProvider/ConfigProvider.tsx
  src/components/ConfigProvider/__demo__/demo.jsx
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/index.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/usePicker.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Popover/__tests__/index.test.js
  src/components/Popover/index.jsx
  src/components/Popover/index.tsx
  src/components/Select/Select.jsx
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/TimePicker.tsx
  src/hooks/usePopoverConfig.tsx
  src/hooks/usePopoverContainer.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.26
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Calendar): fix calendar add month, year bug
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Popover): fix popover static props
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/Popover.jsx
  src/components/Popover/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.1
  build/bundle.10539790.js
  build/bundle.10539790.js.LICENSE.txt
  build/bundle.781d4827.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ConfigProvider): add iconDefaultPrefix & refactor icon
  README.md
  src/components/ConfigProvider/ConfigContext.tsx
  src/components/ConfigProvider/ConfigProvider.md
  src/components/ConfigProvider/ConfigProvider.tsx
  src/components/ConfigProvider/__demo__/icon.jsx
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/Icon.jsx
  src/components/Icon/Icon.md
  src/components/Icon/Icon.tsx
  src/components/Icon/index.tsx
  src/components/Icon/style/index.js
  src/components/Icon/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tabs): loosen tabs interface
  index.d.ts
  src/components/Tabs/Pane.tsx
  src/components/Tabs/Tabs.tsx
Due: none

chore(release): 1.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.2
  build/bundle.10539790.js
  build/bundle.a61df124.js
  build/bundle.a61df124.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(Select): refactor to ts
  index.d.ts
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Select/Extra.jsx
  src/components/Select/Extra.tsx
  src/components/Select/Select.jsx
  src/components/Select/Select.tsx
  src/components/Select/SelectContext.tsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/index.jsx
  src/components/Select/index.tsx
  src/components/Select/style/index.tsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/group.tsx
  src/sharedComponents/Search/useSearch.tsx
  src/utils/isEmpty.ts
  src/utils/isObject.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add virtualList support
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/Menu.md
  src/components/Menu/Menu.tsx
  src/components/Menu/SubMenu.tsx
  src/components/Menu/__demo__/menu-virtual.jsx
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Option.tsx
  src/components/Select/Select.md
  src/components/Select/Select.tsx
  src/components/Select/__demo__/boundary.jsx
  src/components/Select/__demo__/customStyle.jsx
  src/components/Select/__demo__/manual-test.jsx
  src/components/Select/__demo__/virtualList.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.tsx
  src/hooks/group.tsx
  src/hooks/useSimpleVirtualList.tsx
  src/hooks/useVirtualList.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.3
  build/bundle.81a95668.js
  build/bundle.81a95668.js.LICENSE.txt
  build/bundle.a61df124.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ThemeProvider): clean material vars use
  src/components/NumberInput/style/index.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(ThemeProvider): clean unused old tcolor
  src/components/ThemeProvider/color.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(Breadcrumb): refactor to ts
  index.d.ts
  src/components/Breadcrumb/BackButton.jsx
  src/components/Breadcrumb/BackButton.tsx
  src/components/Breadcrumb/Breadcrumb.jsx
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/Item.jsx
  src/components/Breadcrumb/Item.tsx
  src/components/Breadcrumb/__demo__/breadcrumb.jsx
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/index.jsx
  src/components/Breadcrumb/index.tsx
  src/components/Breadcrumb/style/index.tsx
  src/style/sWrap.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Breadcrumb): fix docs inferface
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/index.tsx
  src/components/Breadcrumb/interface.ts
Due: none

refactor(ThemeProvider): clean some unused theme file
  src/components/ThemeProvider/InnerDefaultThemeProvider.jsx
  src/components/ThemeProvider/ThemeGetter.jsx
  src/components/ThemeProvider/color.js
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/green.js
  src/components/ThemeProvider/ocean.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add search controlled and defaultValue
  src/components/Select/Select.tsx
  src/components/Select/__demo__/search.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): add range.customRender.readonlyDisplay
  src/components/DatePicker/Range.md
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/__demo__/range-customRender.jsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.4
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.4
  build/bundle.81a95668.js
  build/bundle.902c41bf.js
  build/bundle.902c41bf.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix content cache bug
  src/components/Select/Select.tsx
  src/components/Select/__demo__/boundary.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.5
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.5
  build/bundle.527c332c.js
  build/bundle.527c332c.js.LICENSE.txt
  build/bundle.902c41bf.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): change options reactKey to key first for fix non-str value
  src/components/Select/Select.tsx
  src/components/Select/__demo__/boundary.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.6
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.6
  build/bundle.38e69b8f.js
  build/bundle.38e69b8f.js.LICENSE.txt
  build/bundle.527c332c.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/components/**/*.(js|ts|jsx|tsx)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
