Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

chore(release): 1.1.8
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.8
  build/bundle.7e5f994c.js
  build/bundle.c170d445.js
  build/bundle.c170d445.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(All): change some icon to svg
  src/components/ActionList/ActionList.jsx
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/style/index.js
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/Cog.jsx
  src/components/Table/ColumnConfigButton.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.9
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.9
  build/bundle.7b97807b.js
  build/bundle.7b97807b.js.LICENSE.txt
  build/bundle.c170d445.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(TransferTable): add disabled style for table row
  src/components/TransferTable/TransferTable.jsx
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(AutoComplete): add prefix
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/__demo__/autoComplete.jsx
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.10
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.10
  build/bundle.7b97807b.js
  build/bundle.d33890cf.js
  build/bundle.d33890cf.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(AutoComplete): add block & placeholder & style & className
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/__demo__/autoComplete.jsx
  src/components/AutoComplete/__demo__/boundary.jsx
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/AutoComplete/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.11
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.11
  build/bundle.64490cc7.js
  build/bundle.64490cc7.js.LICENSE.txt
  build/bundle.d33890cf.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update recodo context
  .recodo/run.tsx
  package.json
  yarn.lock
Due: prettier --write

feat(Transfer): change search trigger to immediately
  src/components/Transfer/Transfer.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Input): fix clearable when disabled
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/Input.tsx
  src/components/Input/__demo__/manual-test.jsx
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(recodo): update recodo
  .recodo/data/examples.json
  .recodo/dist/index.html
  .recodo/dist/main.min.js
  .recodo/index.css
  .recodo/index.html
  .recodo/index.tsx
  .recodo/run.tsx
  package.json
  src/components/ActionList/ActionList.jsx
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

add recodo
  .recodo/data/docs.json
  .recodo/data/examples.json
  .recodo/index.css
  .recodo/index.html
  .recodo/index.tsx
  .recodo/run.tsx
  .recodo/webpack.config.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix ignore
  .gitignore
  .recodo/dist/index.html
  .recodo/dist/main.min.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

rename recodo for test
  recodo/data/docs.json
  recodo/data/examples.json
  recodo/dist/index.html
  recodo/dist/main.min.js
  recodo/index.css
  recodo/index.html
  recodo/index.tsx
  recodo/run.tsx
  recodo/webpack.config.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.12
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.12
  build/bundle.64490cc7.js
  build/bundle.8a398bf8.js
  build/bundle.8a398bf8.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): add destroy
  .recodo/index.html
  .recodo/index.tsx
Due: none

update recodo
  recodo/dist/index.html
  recodo/dist/main.min.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tree): fix shrink on indent&icon
  .recodo/.gitignore
  .recodo/dist/index.html
  .recodo/dist/main.min.js
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add support of function extra
  .recodo/InteractionDemo.tsx
  .recodo/index.html
  .recodo/index.tsx
  .recodo/interface.ts
  .recodo/run.tsx
  .recodo/webpack.config.js
  .styleguide/setup.js
  package.json
  shared/InteractionDemo.jsx
  src/components/Button/.recodo/interaction.jsx
  src/components/Select/Select.jsx
  src/components/Select/__demo__/select-extra.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  tsconfig.json
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.13
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.1.14
  CHANGELOG.md
  package.json
Due: prettier --write

fix(build): fix build files
  tsconfig.json
Due: prettier --write

chore(release): 1.1.15
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.15
  build/bundle.073c3e8f.js
  build/bundle.073c3e8f.js.LICENSE.txt
  build/bundle.8a398bf8.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

update recodo
  recodo/.gitignore
  recodo/InteractionDemo.tsx
  recodo/data/docs.json
  recodo/data/examples.json
  recodo/dist/index.html
  recodo/dist/main.min.js
  recodo/index.html
  recodo/index.tsx
  recodo/interface.ts
  recodo/run.tsx
  recodo/webpack.config.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Tooltip): update demos
  src/components/Tooltip/__demo__/arrow.jsx
  src/components/Tooltip/__demo__/placement.jsx
  src/components/Tooltip/__demo__/style.jsx
  src/components/Tooltip/__demo__/theme.jsx
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update recodo docs
  .recodo/data/examples.json
  .recodo/index.html
  .recodo/index.tsx
  .recodo/run.tsx
  .styleguide/components/Examples.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Popover): add forceAlignWhenScroll
  .styleguide/components/ReactExample.tsx
  src/components/Popover/Popover.jsx
  src/components/Popover/Popover.md
  src/components/Popover/__demo__/base.jsx
  src/components/Popover/__demo__/popover.jsx
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Radio): fix card radio title spacing
  src/components/Checkbox/Checkbox.jsx
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

update recodo
  recodo/Component.tsx
  recodo/InteractionDemo.tsx
  recodo/data/docs.json
  recodo/data/examples.json
  recodo/dist/index.html
  recodo/dist/main.min.js
  recodo/index.html
  recodo/index.tsx
  recodo/interface.ts
  recodo/run.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update
  .recodo/Component.tsx
  .recodo/InteractionDemo.tsx
  .recodo/data/docs.json
  .recodo/data/examples.json
  .recodo/index.html
  .recodo/index.tsx
  .recodo/interface.ts
  .recodo/run.tsx
  src/components/Button/.recodo/interaction.jsx
  src/components/Checkbox/.recodo/interaction.jsx
  src/components/Input/.recodo/interaction.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage
