Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

fix(DatePicker): fix invalid current calendar value
  src/components/DatePicker/usePicker.tsx
Due: none

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs(Tabs): export tabs interface
  index.d.ts
Due: none

chore(release): 1.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.3
  build/bundle.433ed772.js
  build/bundle.48cd5ac7.js
  build/bundle.48cd5ac7.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs: Circle CI auto update docs, v1.1.2
  build/bundle.3d469938.js
  build/bundle.3d469938.js.LICENSE.txt
  build/bundle.48cd5ac7.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tabs): rewrite tabs
  .eslintignore
  .stylelintignore
  package.json
  src/components/AutoComplete/style/index.ts
  src/components/Tabs/Pane.jsx
  src/components/Tabs/Pane.tsx
  src/components/Tabs/RefContext.tsx
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/TabContent.tsx
  src/components/Tabs/Tabs.jsx
  src/components/Tabs/Tabs.md
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__demo__/pane-disabled.jsx
  src/components/Tabs/__demo__/pane-forceRender.jsx
  src/components/Tabs/__demo__/pane.jsx
  src/components/Tabs/__demo__/tabs-child.jsx
  src/components/Tabs/__demo__/tabs-destroyInactiveTabPane.jsx
  src/components/Tabs/__demo__/tabs-manual-test.jsx
  src/components/Tabs/__demo__/tabs-position.jsx
  src/components/Tabs/__demo__/tabs-scroll.jsx
  src/components/Tabs/__demo__/tabs-styleType.jsx
  src/components/Tabs/__demo__/tabs-uncontrolled.jsx
  src/components/Tabs/__demo__/tabs.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/index.jsx
  src/components/Tabs/index.tsx
  src/components/Tabs/shared.ts
  src/components/Tabs/style/index.ts
  src/components/Tabs/utils.ts
  src/interfaces/KeyCode.js
  src/type.ts
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tabs): fix tabs ink bar offset
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/utils.ts
Due: none

feat(Tabs): change prev/next icon
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/TriangleDown.jsx
  src/components/SvgIcon/icons/TriangleLeft.jsx
  src/components/SvgIcon/icons/TriangleRight.jsx
  src/components/SvgIcon/icons/TriangleUp.jsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tabs): remove tabs active tab font-weight to avoid redraw
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.ts
Due: none

ci(package): degrade fs-extra to fix ci
  package.json
  yarn.lock
Due: prettier --write

fix(Input): fix input status interface
  src/components/Form/ControllerContext.tsx
Due: none

fix(Input): add max width to fix width in container
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(release): 1.1.4
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.4
  build/bundle.3d469938.js
  build/bundle.6b4fc3fd.js
  build/bundle.6b4fc3fd.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Input): hide ie clear icon
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

fix(Switch): add forwardRef to avoid warning in zform
  src/components/Switch/Switch.tsx
Due: none

feat(Select): add max/min width and overflow to selector & popup
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.jsx
  src/components/Select/Select.md
  src/components/Select/__demo__/customStyle.jsx
  src/components/Select/__demo__/manual-test.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Input): change input to class for finddomnode
  .styleguide/setup.js
  src/components/Input/Input.md
  src/components/Input/__demo__/manual-test.jsx
  src/components/Input/__tests__/demo.test.js
  src/components/Input/index.tsx
  src/type.ts
  tests/shared/demoTest.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Input): update interface path
  index.d.ts
Due: none

chore(release): 1.1.5
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.5
  build/bundle.044c2905.js
  build/bundle.044c2905.js.LICENSE.txt
  build/bundle.6b4fc3fd.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tree): add support of search
  dev/index.js
  package.json
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Tabs/index.tsx
  src/components/Tree/Item.tsx
  src/components/Tree/Tree.md
  src/components/Tree/Tree.tsx
  src/components/Tree/__demo__/method.jsx
  src/components/Tree/__demo__/search.jsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/index.tsx
  src/components/Tree/style/index.ts
  src/sharedComponents/Search/Highlight.tsx
  src/sharedComponents/Search/Search.tsx
  src/sharedComponents/Search/index.tsx
  src/sharedComponents/Search/locale/en_US.js
  src/sharedComponents/Search/locale/zh_CN.js
  src/sharedComponents/Search/style.ts
  src/type.ts
  src/utils/each.ts
  src/utils/typeMemo.ts
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Docs): add locale switch to header
  .styleguide/components/ReactExample.tsx
  .styleguide/components/StyleGuideRenderer.tsx
  src/sharedComponents/Search/locale/en_US.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): add config to prevent default form action
  src/components/ConfigProvider/ConfigContext.jsx
  src/components/ConfigProvider/ConfigProvider.jsx
  src/components/Form/Form.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.6
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): fix onExpand not trigger bug
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs: Circle CI auto update docs, v1.1.6
  build/bundle.044c2905.js
  build/bundle.5ea8992f.js
  build/bundle.5ea8992f.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(all): add recodo docs
  .recodo/data/docs.json
  .recodo/data/examples.json
  .recodo/dist/index.html
  .recodo/dist/main.min.js
  .recodo/index.html
  .recodo/index.tsx
  .recodo/run.tsx
  .recodo/webpack.config.js
  package.json
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

ci(Circle): change env node version to 12
  .circleci/config.yml
Due: none

chore(release): 1.1.7
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.7
  build/bundle.5ea8992f.js
  build/bundle.7e5f994c.js
  build/bundle.7e5f994c.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Button): fix interface
  src/components/Button/Button.tsx
Due: none

fix(Input): fix input interface
  src/components/Input/Input.tsx
Due: none

feat(Grid): add support of array gutter
  src/components/Grid/Row.jsx
  src/components/Grid/__demo__/row-gutter.jsx
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(NumberInput): fix disable icon color
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Switch): fix props output missing
  .recodo/data/examples.json
  package.json
  src/components/Combine/Combine.tsx
  src/components/Switch/Switch.tsx
  yarn.lock
Due: prettier --write

docs(All): update recodo
  .recodo/data/examples.json
  .recodo/dist/main.min.js
  .recodo/index.tsx
  .recodo/run.tsx
  .recodo/webpack.config.js
  package.json
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage
