Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Progress): optimize text transition
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DesignTokens): update control tokens
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/designTokens.js
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.17
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.17
  build/bundle.2ac28156.js
  build/bundle.2ac28156.js.LICENSE.txt
  build/bundle.cab7af8b.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tabs): add tabKey to tabPane
  src/components/Tabs/Pane.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__demo__/tabs-boundary.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): add type of month and deprecated Month
  src/components/Card/__demo__/popupContainer.jsx
  src/components/ConfigProvider/__demo__/demo.jsx
  src/components/ConfigProvider/__demo__/theme.jsx
  src/components/DatePicker/DatePicker.md
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Month.md
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/__demo__/month-disabled.jsx
  src/components/DatePicker/__demo__/month-display.jsx
  src/components/DatePicker/__demo__/month-format.jsx
  src/components/DatePicker/__demo__/month-nullable.jsx
  src/components/DatePicker/__demo__/month-popoverProps.jsx
  src/components/DatePicker/__demo__/month-rules.jsx
  src/components/DatePicker/__demo__/month-size.jsx
  src/components/DatePicker/__demo__/month-status.jsx
  src/components/DatePicker/__demo__/month-uncontrolled.jsx
  src/components/DatePicker/__demo__/month.jsx
  src/components/DatePicker/usePicker.tsx
  src/components/Drawer/__demo__/popupContainer.jsx
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/Modal/__demo__/popupContainer.jsx
  src/components/Table/__demo__/popupContainer.jsx
  src/components/ThemeProvider/__demo__/themeprovider.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): change defaultTime when empty
  src/components/DatePicker/usePicker.tsx
Due: none

chore(release): 1.2.18
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.18
  build/bundle.2ac28156.js
  build/bundle.da2075bc.js
  build/bundle.da2075bc.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix null value override by key
  src/components/Menu/Menu.tsx
  src/components/Select/__demo__/boundary.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/group.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.2.19
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.19
  build/bundle.c68b9022.js
  build/bundle.c68b9022.js.LICENSE.txt
  build/bundle.da2075bc.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): remove default shortcuts
  src/components/DatePicker/Footer.tsx
  src/components/DatePicker/usePicker.tsx
Due: none

chore(release): 1.2.20
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.2.20
  build/bundle.15a7d65c.js
  build/bundle.15a7d65c.js.LICENSE.txt
  build/bundle.c68b9022.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Cascader): add Cascader
  .styleguide/components.js
  index.d.ts
  shared/demoUtil.jsx
  src/components/AutoComplete/AutoComplete.tsx
  src/components/Cascader/Cascade.tsx
  src/components/Cascader/CascadeContext.tsx
  src/components/Cascader/Cascader.md
  src/components/Cascader/Cascader.tsx
  src/components/Cascader/Item.tsx
  src/components/Cascader/Items.tsx
  src/components/Cascader/__demo__/base.jsx
  src/components/Cascader/__demo__/boundary.jsx
  src/components/Cascader/__demo__/cascader.jsx
  src/components/Cascader/__demo__/clearable.jsx
  src/components/Cascader/__demo__/disabled.jsx
  src/components/Cascader/__demo__/loadData.jsx
  src/components/Cascader/__demo__/performance.jsx
  src/components/Cascader/__demo__/search.jsx
  src/components/Cascader/__demo__/size.jsx
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/demo.test.js
  src/components/Cascader/index.tsx
  src/components/Cascader/interface.ts
  src/components/Cascader/locale/en_US.js
  src/components/Cascader/locale/zh_CN.js
  src/components/Cascader/style/cascade.tsx
  src/components/Cascader/style/index.tsx
  src/components/Input/Input.tsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/useSearch.tsx
  src/hooks/useVirtualList.tsx
  src/sharedComponents/Search/Highlight.tsx
  src/sharedComponents/Search/Search.tsx
  src/sharedComponents/Search/SearchInput.tsx
  src/sharedComponents/Search/index.tsx
  src/sharedComponents/Search/style.ts
  src/sharedComponents/Search/useSearch.tsx
  src/sharedComponents/VirtualScrollList.tsx
  src/utils/attrs.ts
  src/utils/wait.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Calendar): merge month to calendar type
  src/components/Calendar/Calendar.md
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/Month.tsx
  src/components/Calendar/__demo__/month.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(TimePicker): add default width
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/TimePicker.tsx
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/style/index.ts
Due: none

feat(DatePicker): auto adapt input width for diff usage
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/__demo__/range-format.jsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/style/index.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix missing empty tip when options is empty
  src/components/Select/Select.tsx
Due: none

fix(LocaleProvider): add some demos & fix missing locales
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Transfer/Transfer.jsx
  src/components/Transfer/locale/en_US.js
  src/components/Transfer/locale/zh_CN.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

update recodo docs
  recodo/data/docs.json
  recodo/data/examples.json
Due: prettier --write

docs(recodo): update recodo content
  .recodo/data/docs.json
  .recodo/data/examples.json
Due: prettier --write

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.0
  build/bundle.15a7d65c.js
  build/bundle.df77a75a.js
  build/bundle.df77a75a.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(log): clear log usage
  src/components/Compact/Compact.jsx
  src/components/Input/Input.tsx
  src/components/Message/Message.jsx
  src/components/Message/method.jsx
  src/components/Modal/Modal.md
  src/components/Notice/Notice.jsx
  src/components/Select/Select.tsx
  src/components/Table/Table.jsx
  src/components/Upload/Upload.jsx
  src/utils/__tests__/index.test.js
  src/utils/deprecatedLog.js
  src/utils/deprecatedLog.ts
  src/utils/warning.js
  src/utils/warning.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Modal): add method usage warning, docs & add runtime locale
  src/components/LocaleProvider/LocaleProvider.tsx
  src/components/LocaleProvider/localeConsumerDecorator.tsx
  src/components/LocaleProvider/runtime.ts
  src/components/LocaleProvider/useLocale.ts
  src/components/Modal/Modal.md
  src/components/Modal/method.jsx
  src/utils/__tests__/index.test.js
  src/utils/deprecatedLog.ts
  src/utils/warning.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Message): add method risk docs
  src/components/Message/Message.md
  src/components/Message/method.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Modal): add destroyAll to close all method modals
  src/components/Modal/method.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.1
  build/bundle.d1f08731.js
  build/bundle.d1f08731.js.LICENSE.txt
  build/bundle.df77a75a.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update recodo
  .recodo/InteractionDemo.tsx
  .recodo/data/docs.json
  .recodo/index.html
Due: prettier --write

update recodo docs
  recodo/InteractionDemo.tsx
  recodo/data/docs.json
  recodo/dist/main.min.js
  recodo/index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Cascader): fix status required
  src/components/Cascader/Cascader.tsx
Due: none

feat(Modal): add buttonProps for custom footer buttons
  src/components/Modal/Modal.jsx
  src/components/Modal/Modal.md
  src/components/Modal/__demo__/buttonProps.jsx
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(NumberInput): fix disabled numberInput color in safari
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.3.2
  build/bundle.05ad9da8.js
  build/bundle.05ad9da8.js.LICENSE.txt
  build/bundle.d1f08731.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Input): fix input unselectable
  src/components/Input/Input.tsx
Due: none

chore(release): 1.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/components/**/*.(js|ts|jsx|tsx)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
