Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

perf(Popover): reduce force align on unnecessary call
  src/components/Popover/Popover.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

update recodo
  recodo/dist/main.min.js
  recodo/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): update compatibility
  .recodo/index.tsx
  .styleguide/setup.js
  src/components/LocaleProvider/LocaleProvider.md
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__demo__/localefile.jsx
  src/components/Popover/placements.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DataPicker): fix format display & shortcuts for Range
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/__demo__/range-display.jsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/usePicker.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): use format control timeMode
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/__demo__/datepicker-format.jsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/usePicker.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.16
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.16
  build/bundle.073c3e8f.js
  build/bundle.86d356ef.js
  build/bundle.86d356ef.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Button): add block
  src/components/Button/Button.md
  src/components/Button/Button.tsx
  src/components/Button/__demo__/block.jsx
  src/components/Button/__demo__/button.jsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(TransferTable): add pagination when count over 400
  src/components/TransferTable/TransferTable.jsx
  src/components/TransferTable/TransferTable.md
  src/components/TransferTable/__demo__/transferTable.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.17
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.17
  build/bundle.86d356ef.js
  build/bundle.b8d41ef6.js
  build/bundle.b8d41ef6.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Button): fix white-space
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Select): add shadow to extra
  .babelrc.json
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Select/Select.jsx
  src/components/Select/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.18
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.18
  build/bundle.20758ec3.js
  build/bundle.20758ec3.js.LICENSE.txt
  build/bundle.b8d41ef6.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(Table): refactor some code
  src/libs/rc-table/Column.js
  src/libs/rc-table/ColumnGroup.js
  src/libs/rc-table/ColumnManager.js
  src/libs/rc-table/ExpandIcon.js
  src/libs/rc-table/ExpandIcon.tsx
  src/libs/rc-table/ExpandableTable.js
  src/libs/rc-table/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

perf(Checkbox): refactor for better performance
  index.d.ts
  src/components/Checkbox/Checkbox.jsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/CheckboxContext.tsx
  src/components/Checkbox/CheckboxIcon.tsx
  src/components/Checkbox/Group.jsx
  src/components/Checkbox/Group.md
  src/components/Checkbox/Group.tsx
  src/components/Checkbox/__demo__/group.jsx
  src/components/Checkbox/__demo__/performance.jsx
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/index.test.js
  src/components/Checkbox/index.jsx
  src/components/Checkbox/index.tsx
  src/components/Checkbox/interface.ts
  src/components/Checkbox/style/index.ts
  src/components/Radio/Card.tsx
  src/components/Radio/Radio.jsx
  src/components/Radio/RadioIcon.tsx
  src/components/Radio/style/index.js
  src/components/Tabs/__tests__/index.test.js
  src/hooks/selectable.tsx
  src/hooks/useUncontrolled.tsx
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tree): fix item interface bug
  src/components/Tree/Item.tsx
Due: none

fix(Table): fix checkbox controll switch cause bug
  src/components/Table/Table.jsx
  src/hooks/useIsInitial.tsx
  src/hooks/useUncontrolled.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DataPicker): update styles & add choose tip
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/Footer.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/RangePicker.tsx
  src/components/DatePicker/locale/en_US.js
  src/components/DatePicker/locale/zh_CN.js
  src/components/DatePicker/style/index.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/TimePicker/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix svg color when use dark themm
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(hooks): rename useInitial to useDidMount
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/Range.tsx
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/useDidMount.tsx
Due: none

fix(ThemeProvider): fix runtime theme reset bug
  src/components/ThemeProvider/ThemeProvider.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.19
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.19
  build/bundle.02a38a7a.js
  build/bundle.02a38a7a.js.LICENSE.txt
  build/bundle.20758ec3.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(useUncontrolled): place ref before state to fix value cache bug
  src/hooks/useUncontrolled.tsx
Due: none

chore(release): 1.1.20
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.20
  build/bundle.02a38a7a.js
  build/bundle.aa548d84.js
  build/bundle.aa548d84.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.21
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.21
  build/bundle.72531cf3.js
  build/bundle.72531cf3.js.LICENSE.txt
  build/bundle.aa548d84.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Checkbox): increase fault tolerance of unvalid value/options
  src/components/Checkbox/Group.md
  src/components/Checkbox/Group.tsx
  src/components/Checkbox/__demo__/boundary.jsx
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/selectable.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.22
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.22
  build/bundle.69a40341.js
  build/bundle.69a40341.js.LICENSE.txt
  build/bundle.72531cf3.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Collapse): remove selectedStatus in callback
  index.d.ts
  src/components/Collapse/hooks.tsx
Due: none

chore(release): 1.1.23
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.23
  build/bundle.69a40341.js
  build/bundle.d3813972.js
  build/bundle.d3813972.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage
