Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Link): ignore some props for Link.Button
  src/components/ActionList/ActionList.jsx
  src/components/ActionList/__demo__/actionList.jsx
  src/components/ActionList/__demo__/size.jsx
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/Button.tsx
  src/components/Button/style/index.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__demo__/actionList.jsx
  src/style/sWrap.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.25
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.25
  build/bundle.4af2d1ca.js
  build/bundle.4af2d1ca.js.LICENSE.txt
  build/bundle.e8c16ab0.js
  index.html
  style.css
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Link): change a:link style
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/style/index.ts
Due: none

fix(Button): fix button transtion shake
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
  src/style/animation.ts
Due: none

docs(SvgIcon): update doc titles
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/SvgIcon.md
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Button): update doc titles
  src/components/Button/Button.md
Due: prettier --write

docs(Grid): update doc titles
  src/components/Compact/Compact.md
  src/components/Grid/Col.md
  src/components/Grid/README.md
  src/components/Grid/Row.md
Due: prettier --write

docs(Input): update doc titles
  src/components/Input/Input.md
Due: prettier --write

docs(NumberInput): update doc titles
  src/components/Input/Search.md
  src/components/NumberInput/NumberInput.md
Due: prettier --write

docs(Textarea): update doc titles
  src/components/Textarea/Textarea.md
Due: prettier --write

docs(All): update doc titles
  src/components/Breadcrumb/BackButton.md
  src/components/Breadcrumb/Breadcrumb.md
  src/components/Breadcrumb/Item.md
  src/components/Card/Card.md
  src/components/Checkbox/Checkbox.md
  src/components/Checkbox/Group.md
  src/components/Collapse/Collapse.md
  src/components/Collapse/Panel.md
  src/components/DatePicker/DatePicker.md
  src/components/DatePicker/Month.md
  src/components/DatePicker/Range.md
  src/components/Drawer/Drawer.md
  src/components/EditableList/EditableList.md
  src/components/EditableTable/EditableTable.md
  src/components/Menu/Item.md
  src/components/Menu/Menu.md
  src/components/Menu/SubMenu.md
  src/components/Message/Message.md
  src/components/Notice/Notice.md
  src/components/PopConfirm/PopConfirm.md
  src/components/Popover/Popover.md
  src/components/Select/Select.md
  src/components/Slider/Slider.md
  src/components/Steps/Steps.md
  src/components/Switch/Switch.md
  src/components/Tabs/Pane.md
  src/components/Tabs/Tabs.md
  src/components/Tag/Tag.md
  src/components/Tooltip/Tooltip.md
  src/components/Transfer/Transfer.md
  src/components/TransferMenu/TransferMenu.md
  src/components/TransferTable/TransferTable.md
  src/components/Upload/Upload.md
  src/components/ZForm/ZForm.md
Due: prettier --write

feat(Loading): change animate druation to 200
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.26
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.26
  build/bundle.392aab69.js
  build/bundle.392aab69.js.LICENSE.txt
  build/bundle.4af2d1ca.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(All): update doc titles
  src/components/ConfigProvider/ConfigProvider.md
  src/components/Loading/Loading.jsx
  src/components/Loading/Loading.md
  src/components/LocaleProvider/LocaleProvider.md
  src/components/Pagination/Pagination.md
  src/components/Progress/Progress.md
  src/components/ThemeProvider/ThemeProvider.md
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Modal): add content and notice
  .styleguide/components.js
  .styleguide/components/Examples.jsx
  index.d.ts
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/Content.jsx
  src/components/Modal/Content.md
  src/components/Modal/Content.tsx
  src/components/Modal/Modal.jsx
  src/components/Modal/Modal.md
  src/components/Modal/__demo__/closable.jsx
  src/components/Modal/__demo__/content.jsx
  src/components/Modal/__demo__/customClassName.jsx
  src/components/Modal/__demo__/customStyle.jsx
  src/components/Modal/__demo__/destroyOnClose.jsx
  src/components/Modal/__demo__/keyboard.jsx
  src/components/Modal/__demo__/mask.jsx
  src/components/Modal/__demo__/maskClosable.jsx
  src/components/Modal/__demo__/method.jsx
  src/components/Modal/__demo__/modal.jsx
  src/components/Modal/__demo__/notice.jsx
  src/components/Modal/__demo__/openModal.jsx
  src/components/Modal/__demo__/popupContainer.jsx
  src/components/Modal/__demo__/size.jsx
  src/components/Modal/__demo__/titleAndFooter.jsx
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/index.jsx
  src/components/Modal/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Modal): fix modal ts not completely bug
  src/components/Modal/Content.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.27
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.27
  build/bundle.392aab69.js
  build/bundle.9d7cc68f.js
  build/bundle.9d7cc68f.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Snap): update
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(all): update dts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Radio/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/style/index.js
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.28
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.28
  build/bundle.3ab7ad0a.js
  build/bundle.3ab7ad0a.js.LICENSE.txt
  build/bundle.9d7cc68f.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(NumberInput): add styles for handlers
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

style(input && button): update style
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Input&Button): update style
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.29
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.29
  build/bundle.3ab7ad0a.js
  build/bundle.dab4e6f4.js
  build/bundle.dab4e6f4.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Link): force link button visited color
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Combine): change combine classname to wrap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/Combine.jsx
  src/components/Combine/Combine.md
  src/components/Combine/Combine.tsx
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/style/index.js
  src/components/Combine/style/index.ts
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Button): change checkable button background
  src/components/Button/style/index.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(ActionList): use combine to wrap
  src/components/ActionList/ActionList.jsx
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/ActionList/style/index.js
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/Combine.md
  src/components/Combine/Combine.tsx
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.30
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.30
  build/bundle.ce450c03.js
  build/bundle.ce450c03.js.LICENSE.txt
  build/bundle.dab4e6f4.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(TransferTable): add getDisabledOfRow
  src/components/TransferTable/TransferTable.jsx
  src/components/TransferTable/__demo__/transferTable.jsx
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tree): add Tree
  .eslintrc
  .styleguide/components.js
  package.json
  src/components/Collapse/Collapse.jsx
  src/components/Collapse/Panel.jsx
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/index.jsx
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/Item.tsx
  src/components/Tree/Items.tsx
  src/components/Tree/Tree.md
  src/components/Tree/Tree.tsx
  src/components/Tree/TreeContext.tsx
  src/components/Tree/__demo__/base.jsx
  src/components/Tree/__demo__/bigData.jsx
  src/components/Tree/__demo__/method.jsx
  src/components/Tree/__demo__/tree.jsx
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/demo.test.js
  src/components/Tree/index.jsx
  src/components/Tree/interface.ts
  src/components/Tree/style/index.ts
  src/components/Tree/util.ts
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/components/**/*.(js|ts|jsx|tsx)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
