Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Drawer): change background wrap
  src/components/Drawer/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix table scroll position when column change
  src/libs/rc-table/Table.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

test(DatePicker): fix demo file name case
  src/components/DatePicker/__demo__/range-popoverProps.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix typescript interface
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/utils.ts
  src/components/TimePicker/Time.tsx
Due: none

chore(release): 1.0.37
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.37
  build/bundle.acf6f01d.js
  build/bundle.acf6f01d.js.LICENSE.txt
  build/bundle.b5a1e23b.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix non iterable placeholder
  src/components/DatePicker/Range.tsx
  src/utils/isArray.ts
  src/utils/isNumber.ts
  src/utils/pick.ts
Due: none

chore(release): 1.0.38
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.38
  build/bundle.acf6f01d.js
  build/bundle.ec3ba45f.js
  build/bundle.ec3ba45f.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix onInitialChange when option controlled
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/usePicker.tsx
  src/components/TimePicker/style/index.ts
Due: none

chore(release): 1.0.39
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.39
  build/bundle.440f6cee.js
  build/bundle.440f6cee.js.LICENSE.txt
  build/bundle.ec3ba45f.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix scroll & format
  package.json
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/__demo__/datepicker-format.jsx
  src/components/DatePicker/__demo__/range-display.jsx
  src/components/DatePicker/__demo__/range-format.jsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/style/index.ts
  yarn.lock
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.40
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.40
  build/bundle.440f6cee.js
  build/bundle.82d185ae.js
  build/bundle.82d185ae.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix IE flex/Firefox scroll style bug
  .styleguide/style.css
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.ts
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/style/index.ts
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/style/index.ts
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
  src/utils/isFirefox.ts
  src/utils/isIE.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.41
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.41
  build/bundle.31868e78.js
  build/bundle.31868e78.js.LICENSE.txt
  build/bundle.82d185ae.js
  index.html
  style.css
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): export ts interface
  index.d.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

feat(DatePicker): change date valid precision to second
  src/components/DatePicker/utils.ts
Due: none

chore(release): 1.0.42
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.42
  build/bundle.31868e78.js
  build/bundle.a66e11ad.js
  build/bundle.a66e11ad.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix null range change logic
  package.json
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/utils.ts
  yarn.lock
Due: prettier --write

fix(DatePicker): fix date valid
  package.json
  src/components/DatePicker/utils.ts
  yarn.lock
Due: prettier --write

feat(DatePicker): add shortcuts
  src/components/DatePicker/DatePicker.md
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Footer.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/usePicker.tsx
Due: prettier --write

chore(release): 1.0.43
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.43
  build/bundle.9cc03e76.js
  build/bundle.9cc03e76.js.LICENSE.txt
  build/bundle.a66e11ad.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): optimize disable rule & fix some bug
  package.json
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/Month.tsx
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.ts
  src/components/Calendar/utils.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/style/index.ts
  src/components/DatePicker/usePicker.tsx
  src/components/DatePicker/utils.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/TimePicker/Time.tsx
  src/components/TimePicker/style/index.ts
  src/components/TimePicker/util.ts
  yarn.lock
Due: prettier --write

feat(TimePicker): add TimePicker
  .styleguide/components.js
  src/components/TimePicker/TimePicker.md
  src/components/TimePicker/TimePicker.tsx
  src/components/TimePicker/__demo__/base.jsx
  src/components/TimePicker/__demo__/disabled.jsx
  src/components/TimePicker/__demo__/format.jsx
  src/components/TimePicker/__demo__/nullable.jsx
  src/components/TimePicker/__demo__/size.jsx
  src/components/TimePicker/__demo__/timePicker.jsx
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/locale/en_US.js
  src/components/TimePicker/locale/zh_CN.js
  src/components/TimePicker/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.0
  build/bundle.336ee6d2.js
  build/bundle.336ee6d2.js.LICENSE.txt
  build/bundle.9cc03e76.js
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix col width on newest chrome
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/libs/rc-table/ColGroup.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tabs): change some style
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.1.1
  build/bundle.336ee6d2.js
  build/bundle.433ed772.js
  build/bundle.433ed772.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(ActionList): fix click hide on subMenu title
  src/components/ActionList/ActionList.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Input): fix disabled color in safari
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/components/**/*.(js|ts|jsx|tsx)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
